.post-sections-main-info {
    .description-buttons {
        margin-top: 5px;
    }
    textarea {
        overflow-y: scroll;
    }

    input,textarea {
	margin: 10px 0 5px 0;
    }

    .meta-options-list {
	margin: 10px 0 20px 0;
    }
}
